{% extends 'base.html.twig' %}

{% block title %}Modification d'un temps{% endblock %}

{% block body %}
{% include 'header.html' %}
    <br>
    <h1>Modifier temps</h1>
    <br>

    {{ include('temps/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('back_temps_show_all') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>

{% include 'footer.html' %}
{% endblock %}